doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Expense manager
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  body
    block summary